main {
    background: #edeef3;
    padding: 79px 0 50px 0;
}
.cards {
    width: 986px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 19px;
    &__item {
        padding: 24px;
        width: 316px;
        height: 184px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 1px solid #dee2e6;
        background: #fff;
        margin: 0;
        &_icon {
            font-size: 48px;
        }
        &_title {
            margin-top: 18px;
            font-size: 17px;
            font-weight: 700;
            line-height: 28px;
            text-decoration-line: underline;
            text-decoration-thickness: 2px;
        }
        &_descr {
            margin-top: 12px;
            text-align: center;
        }
    }
}
